* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  transition: transform 250ms;
  width: 150px;
  text-align: center;
  /* background-color: #d72323; */
  background-color: #0c7b93;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  padding: 0.6em 0;
  margin: 1em 0.5em;

  -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.25);
}

.link:hover {
  transform: translateY(-5px);
  /* transform: scale(1.1); */
}
